// COLOR
$color_accent: #fc645f;
$color_darker-bg: #f2f2f2;
// FONT
$font_medium: 'pf_encore_sans_promedium';
$font_bold: 'pf_encore_sans_probold';
$font_light: 'pf_encore_sans_prolight';
$font_thin: 'pf_encore_sans_prothin';

  
