// $color-accent: ;
$color--blue-light: #37b7ec;

$font--light: 'HelveticaNeueLight';
$font--medium: 'HelveticaNeueMedium';
// $font--bold: ;
// $font--regular: ;

$container-padding: 24px;
$container-padding--xs: 12px;
