@import "_bourbon.scss";
@import "bootstrap-components/_bootstrap.scss";
@import "_vars.scss";
@import "_fonts.scss";
@import "_mixins.scss";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Helvetica Neue, $font--medium, Arial, sans-serif;
}

a {
    color: $color--blue-light;
    text-decoration: none;
}

a,
button {
    &:hover {
        border: none;
        text-decoration: none;
        outline: none;
    }

    &:focus {
        outline: none;
        text-decoration: none;
    }

    &:active {
        outline: none;
    }

    &:checked {
        outline: none;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

img {
    max-width: 100%;
}

.img-fill {
    width: 100%;
    height: auto;
}

.main-wrapper {
    max-width: 100%;
    height: 100%;
    background-image: url("../img/main-wrapper/bg@2x.png");
    background-size: auto;
}

.container {
    max-width: 960px + $container-padding * 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    position: relative;
    @include clearfix;
}

.main-header {
    // min-height: 60px;
    background-color: #3c434a;
    padding-top: 9px;
    padding-bottom: 15px;
    margin-bottom: 30px;

    &__logo {
        display: block;
        float: left;
        background-image: url("../img/logo/logo@2x.png");
        background-repeat: no-repeat;
        width: 133px;
        height: 30px;
        margin-right: 12px;
    }

    &__authorization {
        text-align: center;
    }
}

.authorization-menu {
    font-family: $font--medium;
    text-transform: uppercase;
    font-size: em(13px);
    letter-spacing: 0.3px;
    padding-top: 13px;
    color: #979ea4;

    &__sign-up {
        text-decoration: underline;
    }

    &__login,
    &__sign-up {
        @include transition;

        &:hover {
            @include transition;
            color: #979ea4;
        }
    }

    &__login {
        float: right;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        margin-left: 12px;
    }
}

.user-info {
    display: block;
    float: left;
    text-decoration: none;
    margin-bottom: 23px;

    &__img-wrap {
        display: inline-block;
        height: 48px;
        width: 48px;
        margin-right: 14px;
    }

    &__img {
        vertical-align: middle;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    &__name {
        font-size: em(18px);
        color: #2c2f31;
    }
}

.icon {
    &-bg-fb {
        background: #3a589c;
    }

    &-bg-tw {
        background: #29a9e1;
    }

    &-bg-vk {
        background: #5a7ba0;
    }

    &-bg-in {
        background: #007bb8;
    }
}

.social-links {
    float: right;
    padding-top: 12px;

    &__icon {
        fill: #fff;
        @include transition;
    }

    &-wrap {
        &--round {
            // @extend .social-links__icon-wrap;
            border-radius: 50%;
        }
    }

    a {
        text-decoration: none;
        display: inline-block;
        max-width: 20px;
        max-height: 20px;
        margin-right: 15px;
        overflow: hidden;

        &:hover .social-links__icon {
            fill: #00aeff;
            @include transition;
        }
    }

    svg {
        vertical-align: bottom;
    }

    &__user {
        float: right;
        margin-left: 20px;
        padding: 5px 8px;
        border-radius: 4px;
        background-color: #92b6c4;
        font-family: $font--medium;
        font-size: em(13px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #ffffff;
        cursor: pointer;
        @include transition;

        &:hover {
            box-shadow: 0 0 5px 0 #7e7e7e;
        }

        &:active {
            box-shadow: 0 0 1px 0 #7e7e7e;
        }
    }
}

.button {
    padding: 8px 4px;
    border-radius: 3px;
    border: none;
    text-align: center;
    font-family: $font--medium;
    font-size: em(13px);
    cursor: pointer;
    text-align: center;
    @include transition;

    &:hover {
        @include transition;
        box-shadow: 0 0 5px 0 #7e7e7e;
    }

    &:active {
        @include transition;
        box-shadow: 0 0 0 0;
        transform: rotateY(22deg);
    }

    &--blue {
        @extend .button;
        background-color: $color--blue-light;
        color: #fff;
    }

    &--white {
        @extend .button;
        background-color: #fff;
        color: #3c434a;
    }
}

.button-share--big {
    width: 150px;
    height: 32px;
    float: right;

    i {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }

    use {
        fill: #00aeff;
    }
}

.button-add {
    width: 150px;
    height: 32px;
    float: right;
}

.post-release {
    font-size: em(20px);
    line-height: em(24px);
    color: #2c2f31;
    margin-bottom: 16px;
    float: left;
}

.entry {
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    position: relative;
    margin-bottom: 12px;
    @include clearfix;

    &--archived {
        background-color: rgba(#ffffff, 0.7);
    }

    &__text {
        line-height: 1.63;
        color: #494949;
        margin-top: 0;
        margin-bottom: 20px;
        font-family: $font--light;
        font-weight: 600;
    }

    &__row {
        @include clearfix;

        &:before {
            content: '';
            clear: both;
            display: table;
        }
    }

    &__corner {
        width: 48px;
        height: 48px;

        &-wrap {
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
            height: 48px;
        }

        &--favorites {
            fill: #ef4b2b;
        }

        &--protected {
            fill: #3c434a;
        }

        &--archived {
            fill: #979da3;
        }

        &-icon {
            position: absolute;
            width: 18px;
            height: 18px;
            top: 50%;
            left: 50%;
            margin-top: -18px;
            fill: #fff;
        }
    }

    &__bottom-row {
        margin-top: 25px;
        @include clearfix;
    }

    &__date {
        float: left;
        color: #aeb4ba;
        font-family: $font--light;
    }

    &__links {
        float: right;
        button {
          border: none;
          background: none;
          padding: 0;
        }

        a,button {
            margin-left: 25px;
            text-decoration: none;

            &:hover .entry__links-icon {
                fill: #aeb4ba;
            }
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__links-icon {
        fill: #00aeff;
        @include transition;

        &:hover {
            fill: #aeb4ba;
        }
    }

    &__title {
        font-family: $font--medium;
        font-size: 16px;
        line-height: 1.31;
        margin-bottom: 8px;
    }
}

.entry__separator {
    height: 1px;
    background-color: #bdbdbd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entry__specific {
    float: right;
    color: #858585;

    &--blue {
        @extend .entry__specific;
        color: #009ce6;
    }
}


.user-settings {
    color: #494949;
    font-size: em(16px);
    font-family: $font--light;
    font-weight: 600;
    line-height: 1.38;
    overflow: hidden;

    &__check {
      display: none;
        // display: inline-block;
        position: absolute;
        cursor: pointer;
        left: 0;
        margin-top: em(4px);
        width: 0px;
        height: 0px;

        // display: none;
    }
 &__label {
   cursor: pointer;
   position: relative;
   display: inline-block;
   padding-left: 24px;
   margin-bottom: 11px;
   background-size: 14px 14px;
   background-repeat: no-repeat;
   background-position: 0 3px;
   background-image: url(../img/checkbox-icon/check-empty.svg);

 }
 .label-empty {
    }
 .checkbox-select {
   background-image: url(../img/checkbox-icon/check-select.svg);
 }
}

.user-settings label:last-of-type {
    margin-bottom: 0;
}

.entry__list {
    position: relative;
    padding-left: 32px;

    &-title {
        display: inline-block;
        color: #333;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
        margin-top: 2px;
        font-size: em(16px);
    }

    &-icon {
        position: absolute;
        left: 0;
        top: em(3px);
        width: 16px;
        height: 16px;
        fill: #a6aeb6;
        vertical-align: middle;
        margin-right: 15px;

        &--active {
            @extend .entry__list-icon;
            fill: #ed1e23;
        }
    }

    &-info {
        float: right;

        &-date,
        &-items {
            float: left;
            margin-left: 50px;
            color: #858585;
            font-family: $font--light;
        }
    }
}

.entry__img-link,
.entry__video-link {
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 12px;
    display: inline-block;
    overflow: hidden;

    &:hover {
        // transform: scale(1.05,1.05);
    }
}

.entry__video-link {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        margin-left: -30px;
        margin-top: -30px;
        background-image: url("../img/icon/play.svg");
        background-repeat: no-repeat;
    }
}

.entry__row-img {
    margin-left: -6px;
    margin-right: -6px;
}

.entry__img {
    width: auto;
    height: auto;
}

.entry__reminder {
    color: #a6aeb6;
    font-family: $font--light;

    &-icon {
        width: 18px;
        height: 20px;
        fill: #a6aeb6;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }

    &-text {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: bottom;
    }
}

.entry__caption {
    color: #858585;
    font-family: $font--light;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 8px;
}

.map {
    &-wrap {
        float: left;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &-link {
        display: inline-block;
        margin-top: 12px;
        @include transition;

        &:hover {
            color: #333;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
    }
}

.attach-file {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 125px;
    // max-width: 45%;
    text-align: center;

    &:hover {
        @include transition;

        .attach-file__caption {
            color: $color--blue-light;
        }
    }

    &__row {
        margin: 15px -15px;
    }

    &__caption {
        font-size: em(14px);
        font-family: $font--medium;
        color: #333;
        @include transition;
    }

    &__icon {
        width: 47px;
        height: 59px;
        margin: 10px auto;
        background-repeat: no-repeat;

        &-db {
            background-image: url("../img/icon/db.svg");
        }

        &-skydrive {
            background-image: url("../img/icon/skydrive.svg");
        }

        &-w-doc {
            background-image: url("../img/icon/w-doc.svg");
        }
    }
}

.main-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3c434a;
    margin-top: 90px;
    color: #979ea4;
    text-align: center;
    font-size: 12px;

    &__copyright {
        padding-top: 6px;
        float: left;
    }

    &__nav {
        display: inline-block;
        padding-top: 6px;

        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 25px;
            vertical-align: bottom;

            a {
                text-transform: uppercase;
                color: #979ea4;
                @include transition;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__soc-links {
        float: right;

        a {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            @include transition;
            overflow: hidden;
            text-decoration: none;

            &:hover {
                .main-footer__soc-links-icon {
                    fill: #fff;
                }
            }
        }

        &-icon {
            @include transition;
            fill: #8c9399;
        }
    }
}

.prompt {
    background-color: $color--blue-light;
    color: #fff;
    min-height: 50px;
    padding: 10px 0;
    position: relative;
    transition: 0.7s;
    display: none;

    &__icon {
        position: absolute;
        left: $container-padding;
        top: 0;
        width: 34px;
        height: 33px;
    }

    &__text-wrap {
        float: left;
        margin-left: 42px;
    }

    &__text-title {
        font-size: em(14px);
        margin: 0 7px 3px;
        font-weight: 500;
    }

    &__text {
        margin: 0 7px;
        font-size: em(12px);
        font-family: $font--light;
    }

    &__text--xs {
        @extend .prompt__text;
        display: none;
    }

    &__buttons-wrap {
        float: right;
        position: relative;
        top: 100%;
    }

    &__button-dld {
        display: inline-block;
        max-width: 100%;
        width: 110px;
        color: #00adff;
        margin-right: 15px;
    }

    &__button-close {
        display: inline-block;
        width: 13px;
        height: 12px;
        background: none;
        border: none;
        cursor: pointer;
        // margin-top: 7px;
        svg {
            width: 13px;
            height: 12px;
            stroke: #fff;
            stroke-width: 1px;
        }
    }
}

.modal {
    &__body {
        // display: inline-block;
        background: #fff;
        border-radius: 3px;
        // padding: 15px 38px 30px;
        padding-top: 15px;
        max-width: 300px;
        width: auto;
        margin-top: 15%;
        margin-right: auto;
        margin-left: auto;
    }

    &__title {
        text-align: center;
        font-size: em(22px);
        color: #404143;
        font-family: $font--light;
        margin-bottom: 15px;
        margin-top: 3px;
    }
}

.share-modal {
    padding: 20px;
    color: #404143;

    &__links-wrap {
        background: #f0f5fa;
        padding-top: 21px;
        text-align: center;
        padding-bottom: 36px;
        border-radius: 3px;
        border-radius: 0 0 3px 3px;
    }

    &__links-user {
        font-size: 22px;
        margin-bottom: 40px;
    }

    &__social-links-wrap {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

    &__social-links {
        display: inline-block;
        overflow: hidden;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;

        &:hover {
            @include transition;
            box-shadow: 0 1px 3px #000;
        }
        &:active {
            @include transition;
            box-shadow: 0 0px 0px #fff;
        }

        svg {
            display: inline-block;
            vertical-align: middle;
            fill: #fff;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
}

.display-none-up {
    display: none;
}

.visible-xs {
    display: none;
}

.hidden-md {
    display: block;
}

.display-normal {
    display: inline;
}

.display-retina {
    display: none;
}
@import "_media.scss";
